{% extends 'layout.html' %}

{% if data['date-of-birth'][1] %}
{% set month = data['date-of-birth'][1] | returnDate %}
{% endif %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-top-4">
        Check your answers before sending your application
      </h1>

      <h2>
        Personal details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: data['nhs-number']
            },
            actions: {
              items: [
                {
                  href: "do-you-know-nhs",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['first-name'] + " " + data['last-name']
            },
            actions: {
              items: [
                {
                  href: "what-is-your-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: data['date-of-birth'][0] + " " + month + " " + data['date-of-birth'][2]
            },
            actions: {
              items: [
                {
                  href: "what-is-your-dob",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Post Code"
            },
            value: {
              text: data['postcode']
            },
            actions: {
              items: [
                {
                  href: "what-is-your-postcode",
                  text: "Change",
                  visuallyHiddenText: "postcode"
                }
              ]
            }
          }
        ]
      }) }}

      <h2>Now send your application</h2>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <p>
        Your details with be sent to Rose Medical Practice to begin your registration.
      </p>

      <a href="confirmation-page" class="nhsuk-button">
        Accept and send registration
      </a>

    </div>
  </div>
{% endblock %}
