{% set serviceHome = '/v7/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Do you know your NHS number?
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "question-page",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="do-you-know-nhs" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
              Do you know your NHS number?
            </h1>
          </legend>
          <p class="nhsuk-body">
            Telling us your NHS number will give us the best chance of matching you to your NHS record.
          </p>
          <p class="nhsuk-body">
            You do not need to know your NHS number to continue. If you do not know it, you can tell us your full name instead.
          </p>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                How to find your NHS number
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p class="">An NHS number is a 10 digit number, like 485 777 3456.</p>
              <p class="nhsuk-body">
                You can find it:
                <ul>
                  <li>
                    on any letter the NHS has sent you
                  </li>
                  <li>
                    on a prescription
                  </li>
                  <li>
                    by logging in to a GP surgery online service
                  </li>
                  <li>
                    on a vaccination letter
                  </li>
                </ul>
                Ask your GP surgery for help if you cannot find your NHS number.
              </p>
            </div>
          </details>
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
              <div class="nhsuk-radios nhsuk-radios--conditional">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="knowNHSNumber-yes" name="knowNHSNumber" type="radio" value="yes" aria-controls="conditional-nhs-number-1" aria-expanded="false" {{ checked("knowNHSNumber", "yes") }}>
                  <label class="nhsuk-label nhsuk-radios__label" for="knowNHSNumber-yes">
                    Yes, I know my NHS number
                  </label>
                </div>

                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-nhs-number-1">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="NHSNumber">
                      NHS number
                    </label>
                    <div class="nhsuk-hint" id="NHSNumberHint">
                      Example: 485 777 3456
                    </div>
                    <input class="nhsuk-input nhsuk-input--width-20" id="NHSNumber" name="nhs-number" value="{{ data['nhs-number'] }}">
                  </div>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="knowNHSNumber-no" name="knowNHSNumber" type="radio" value="no" {{ checked("knowNHSNumber", "no") }}>
                  <label class="nhsuk-label nhsuk-radios__label" for="knowNHSNumber-no">
                    No, continue with my full name
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

          <button class="nhsuk-button full-width" type="submit">
            Continue
          </button>

        </fieldset>
      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include 'v1/includes/footer.html' %}
{% endblock %}