{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Blank transactional template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "question-page",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-u-reading-width">

      <h1 class="nhsuk-heading-l">You are not eligible to use this service</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <p>To change other personal details such as your postal address or landline number you need to contact your GP surgery.</p>

        <p>If you're not registered with a GP surgery or you have moved outside the catchment area of your current surgery, <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">find out how to register with a GP surgery</a>.</p>

      </div>

    </div>

  </div>

</div>
{% endblock %}
