{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/index",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Register for a service
      </h1>

      <p>Use this service to:</p>

      <ul>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>

      <p>Registering takes around 1 minute.</p>


      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>You can only use this service if you live in the UK.</p>

      <a href="question-page" class="nhsuk-button">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
