{% set serviceHome = '/v7/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
What postcode does your GP have for you?
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "what-is-your-dob",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <form action="check-your-answers"  method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l" for="postcode">
            <h1 class="nhsuk-heading-l">
              What postcode does your GP have for you?
            </h1>
          </legend>

<!--          <div class="">-->
<!--            <p>This is the postcode that was used to register you with your current GP.</p>-->
<!--          </div>-->

          <div class="nhsuk-form-group">
<!--            <label class="nhsuk-label" for="postcode">-->
<!--              Postcode-->
<!--            </label>-->
            <div class="nhsuk-hint" id="postcode-hint">This may be different to your current address. For example EN1 1BE.</div>
            <input class="nhsuk-input nhsuk-input--width-10" id="postcode" aria-describedby="postcode-hint" name="postcode" type="text" autocomplete="postal-code" value="{{ data['postcode'] }}">
          </div>

          {% if data['result'] !== 'singlegood' %}

          <input class="govuk-input" name="result" type="hidden" value="bothgood">

          {% endif %}

            <button class="nhsuk-button">Continue</button>

        </fieldset>

      </form>

    </div>

  </div>
{% endblock %}

{% block footer %}
  {% include 'v1/includes/footer.html' %}
{% endblock %}