{% extends 'layout.html' %}

{% block pageTitle %}
Add or correct your contact details
{% endblock %}

{% block header %}
{{ header({
"service": {
"name": "",
"href": "/"
},
"showNav": "false",
"showSearch": "false"
})
}}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">Content design prototypes</h1>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Currently in research and development</h2>

    <div class="nhsuk-main-wrapper " id="maincontent" role="main">

      <div class="bulleted-summary-list">

        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v1:
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-"><strong>In design</strong></div>
            <li>
              <p>Prototype v1: WIP</p>

              <a href="/v1/start-page" class="nhsuk-button nhsuk-u-margin-bottom-3">Goto v1 prototype</a>
            </li>
          </ul>
        </div>



      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">



  </div>

</div>
{% endblock %}

{% block footer %}
{{ footer({
"links": [
{
"URL": "https://github.com/nhsuk/nhsuk-prototype-kit/releases",
"label": "Prototype kit version: " + version
},
{
"URL": "?devMode=true",
"label": "Turn on devMode"
},
{
"URL": "/examples/passing-data/clear-data",
"label": "Clear data"
}
]
})}}
{% endblock %}