{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/registration-5" method="post">

        {{ govukRadios({
          name: "tenancy-agreement",
          value: data['tenancy-agreement'],
          fieldset: {
            legend: {
              text: "Do you have a tenancy agreement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            },
            {
              value: "Unsure",
              text: "Unsure"
            }
          ]
        }) }}

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "tenancy-upload",
          name: "tenancy-upload",
          label: {
            text: "Upload your tenancy agreement if you're able to"
          },
          value: data['tenancy-upload']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
