{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What are your contact details?
      </h1>

      <form class="form" action="/registration-3" method="post">

        {{ govukTextarea({
          name: "rentaladdress",
          id: "rentaladdress",
          value: data['rentaladdress'],
          label: {
            text: "What is the address of your rented accommodation?",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is your mobile phone number?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "contactnumber",
          name: "contactnumber",
          value: data['contactnumber']
        }) }}

        {{ govukInput({
          label: {
            text: "What is your email address?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "contactemail",
          name: "contactemail",
          value: data['contactemail']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
