{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Report complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We've sent you an email with the details of the problem you've told us about.
      </p>

      <p>
        The government will now investigate and decide if your landlord has broken the law by not fixing the problem.
      </p>

      <p>
        We will try to finish this investigation within the next 8 weeks.
      </p>

      {{ govukButton({
        text: "Return to start page",
        href: "/start",
        isStartButton: false
      }) }}

    </div>
  </div>

{% endblock %}
