{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="report-2" method="post">

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "issue",
          idPrefix: "issue",
          value: data['issue'],
          label: {
            text: "What is the issue with your accommodation?",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
